.mode {
  display: flex;
  justify-content: space-between;
  margin-inline: 10vw;
  margin-top: 20px;
}

.mode:hover {
  cursor: pointer;
}

.mode i:nth-child(1) {
  color: #3D3635;
}

.mode i:nth-child(2) {
  color: yellow;
}

.calculator {
    width: 200px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: black;
  }

  button {
    box-shadow: 1px 1px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
  }
  
  input[type="text"] {
    width: 88%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    margin-right: 10px;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 20px;
  }